@font-face {
    font-family: "title-font";
    src: url(./fonts/Quicksand-Light.ttf);
}

body {
    background: radial-gradient(circle at -14.3% -17.5%, rgb(245, 168, 168) 4%, rgb(164, 168, 248) 100.2%);
    margin: 0vh;
}
html {
    display: flex;
    min-height: 100vh;
}
.standard-calculator {
    border-radius: 100;
    margin-left: 7.5vw;
}
.title {
    font-size: 6vh;
    font-family: "title-font";
    margin: 2vh;
}
.standard-display-container {
    background-color: black;
    width: 85vw;
    margin-top: 7vh;
}
.scientific-display-container {
    background-color: black;
    width: 85vw;
    margin-top: 3vh;
}
.standard-input-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: rgb(255, 240, 240);
    font-size: 6vh;
    height: 8vh;
    margin-right: 5vw;
}
.standard-output-container {
    display: flex;
    justify-content: flex-end;
    color: rgb(182, 180, 180);
    font-size: 4vh;
    min-height: 7vh;
    margin-right: 5vw;
}
.standard-input-pad {
    display: grid;
    width: 85vw;
    grid-template-columns: repeat(4,auto);
}
.standard-input-pad > button {
    border-style: dashed;
    margin: 0vh;
    height: 11vh;
    width: 21.25vw;
    font-size: 3vh;
}
.scientific-input-pad {
    display: grid;
    width: 80vw;
    grid-template-columns: repeat(5,auto);
}
.scientific-input-pad > button {
    border-style: dashed;
    margin: 0vh;
    height: 8vh;
    width: 17vw;
    font-size: 3vh;
}
.superscript {
    font-size: 2vh;
}

@media screen and ( min-width : 415px ) {
    
}